* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e8e8e8;
    color: black;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    margin-top: 20px;
    color: #414181;
}

thead {
    color: #414181;
    background-color: #e1e2e4;
}

.interface {
    border-radius: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 400px;
    height: 900px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    overflow-x: hidden;

}

.table-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 500px;
    height: 600px;
}

.table {
    margin-top: -20px;
    padding: 10px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

th, td {
    padding: 3px;
}

tr:last-child td {
    border-bottom: none;
}

tr:nth-child(even) {
    background-color: #e1e3e4;
}

th {
    font-size: 1.1em;
    border-radius: 15px;
    height: 50px;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 20
}

button {
    border: none;
    cursor: pointer;
}

.add-prod {
    padding: 10px 35px;
    background-color: #28a739;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 10px 5px #c5c5c5;
}

button .delete-prod {
    display: flex;
    align-items: center;
    padding: 1px;
    color: #a72844;
    background-color: #e1e2e4;
    font-size: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* Input Produto */
.input-produto {
    border: none;
    padding: 0.8rem;
    font-size: 1em;
    text-align: center;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
                -2px -2px 20px #ffffff;
    transition: 0.3s;
    color: #3d3d7e;
    width: 18ch;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
   
.input-produto:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
                inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

/* Input Qt */
.input-qtd {
    border: none;
    padding: 0.8rem;
    font-size: 1em;
    text-align: center;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
                -2px -2px 20px #ffffff;
    transition: 0.3s;
    width: 8ch;
    text-indent: 2ch;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
   
.input-qtd:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
                inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
}
   
.container {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgb(183, 183, 183);
}
   
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 5px;
}
   
.container input:checked ~ .checkmark {
    box-shadow: 3px 3px 0px rgb(183, 183, 183);
    transition: all 0.2s;
    opacity: 1;
    background-color: #414181;
}
   
.container input ~ .checkmark {
    transition: all 0.2s;
    opacity: 1;
    box-shadow: 1px 1px 0px rgb(183, 183, 183);
}
   
.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
}
   
.container input:checked ~ .checkmark:after {
    opacity: 1;
    transition: all 0.2s;
}
   
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

::-webkit-scrollbar {
    width: 0.5em;
    z-index: -99;
    height: 5px;

}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 0.1px;
}

::-webkit-scrollbar-track {
    background-color: transparent;

}

::-webkit-scrollbar-thumb {
    background-color: transparent;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    .interface {
        border: none;
        box-shadow: none;
    }

    .input-produto {
        padding: 0.5rem;
        font-size: 1.3em;
    }

    .input-qtd {
        padding: 0.5rem;
        font-size: 1.3em;
    }

    .input-price {
        padding: 0.5rem;
        font-size: 1.3em;
    }
}
    

